<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h2 class="text-center">Photo Gallery</h2>
      </div>
      <div class="card-header">
        <a class="btn btn-primary" routerLink="/home" style="margin-right: 16px">Home</a>
        <a class="btn btn-primary" routerLink="/gallery" style="margin-right: 16px">Show Photos</a>
        <a class="btn btn-primary" routerLink="/upload">Upload</a>
        
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
